@model IEnumerable<Table>

@section topButton{
    <a asp-action="Add" class="btn btn-outline-primary">Yeni Ekle</a>
}

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered admin-table">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x.DisplayName)</th>
                <th>@Html.DisplayNameFor(x => x.Module)</th>
                <th class="min">@Html.DisplayNameFor(x => x.MultipleLanguage)</th>
                <th class="min">@Html.DisplayNameFor(x => x.Show)</th>
                <th>İşlemler</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DisplayName</td>
                    <td>@item.Module.Name</td>
                    <td class="min">@Html.Raw(item.MultipleLanguage ? "<button type=\"button\" class=\"btn btn-success\">Evet</button>" : "<button type=\"button\"  class=\"btn btn-warning\">Hayır</button>")</td>
                    <td class="min">@Html.Raw(item.MultipleLanguage ? "<button type=\"button\" class=\"btn btn-success\">Göster</button>" : "<button type=\"button\"  class=\"btn btn-warning\">Gösterme</button>")</td>
                    <td>
                        <a asp-controller="Dashboard" asp-action="List" asp-route-id="@item.Id" class="btn btn-warning">
                            <i class="fa fa-list"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                            <i class="fa fa-cogs"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger confirmLink" data-confirm-text="Silmek istediğinize emin misiniz?">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>